#### Loading CSV data into our database

In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\nnoar\OneDrive\Desktop\homework\Project2_Team2\active_info.csv',index_col=False)

df = df.set_index('id')
df = df.rename(columns={'Year_Drafted':'year_drafted','Overall_Pick':})

SyntaxError: invalid syntax (<ipython-input-2-6aa19a9c46e6>, line 4)

In [32]:
df = df.rename(columns={'Year_Drafted':'year_drafted','Overall_Pick':'overall_pick','Round':'round_','Drafted_by':'drafted_by'})
df = df.drop_duplicates(subset=['full_name'],keep='last')

Loading active player info

In [33]:

engine = create_engine('postgresql://postgres:looboo050784@localhost:5432/mybasketball')
df.to_sql('active_info', engine,if_exists='append')

Loading salary data

In [41]:
salary_df = pd.read_csv(r'C:\Users\nnoar\OneDrive\Desktop\homework\Project2_Team2\salaries_21.csv')
salary_df.head()
salary_df = salary_df.rename(columns={'Team':'team'})
salary_df = salary_df.set_index('team')
salary_df.head()

                       full_name    salary
team
Atlanta Hawks  Bogdan Bogdanovic  18000000
Atlanta Hawks    Brandon Goodwin   1701593
Atlanta Hawks     Bruno Fernando   1517981
Atlanta Hawks        Cam Reddish   4458000
Atlanta Hawks       Clint Capela  16000000

In [43]:
salary_df.to_sql('salaries_21',engine,if_exists='append')

Loading Per 100 possessions data and per 36 minutes data

In [47]:
per_100 = pd.read_csv(r'C:\Users\nnoar\OneDrive\Desktop\homework\Project2_Team2\stats_per100.csv')
per_100.columns
per_100 = per_100.rename(columns={'Player':'player', 'Pos':'pos', 'Age':'age', 'Tm':'team', 'G':'games_played', 'GS':'games_started', 'MP':'minutes_played', 'FG':'field_goal', 'FGA':'fga', 'FG%':'fg_percent', '3P':'three_point',
       '3PA':'three_pa', '3P%':'three_point_percent', '2P':'two_point', '2PA':'two_pa', '2P%':'two_point_percent', 'FT':'ft', 'FTA':'fta', 'FT%':'ft_percent', 'ORB':'orb', 'DRB':'drb',
       'TRB':'trb', 'AST':'ast', 'STL':'stl', 'BLK':'blk', 'TOV':'tov', 'PF':'pf', 'PTS':'pts'})
per_100 = per_100.set_index(['player'])
per_100.head()

,pos,age,team,games_played,games_started,minutes_played,field_goal,fga,fg_percent,three_point,...,ft_percent,orb,drb,trb,ast,stl,blk,tov,pf,pts
player,,,,,,,,,,,,,,,,,,,,,
Precious Achiuwa,PF,21.0,MIA,61.0,4.0,737.0,6.1,11.1,0.544,0.0,...,0.509,3.6,6.6,10.2,1.4,1.0,1.4,2.1,4.4,14.8
Jaylen Adams,PG,24.0,MIL,7.0,0.0,18.0,2.0,16.0,0.125,0.0,...,NaN,0.0,6.0,6.0,4.0,0.0,0.0,0.0,2.0,4.0
Steven Adams,C,27.0,NOP,58.0,58.0,1605.0,4.2,6.9,0.614,0.0,...,0.444,4.8,6.8,11.5,2.5,1.2,0.9,1.7,2.5,9.8
Bam Adebayo,C,23.0,MIA,64.0,64.0,2143.0,7.7,13.4,0.570,0.0,...,0.799,2.4,7.2,9.6,5.8,1.3,1.1,2.8,2.4,20.1
LaMarcus Aldridge,C,35.0,TOT,26.0,23.0,674.0,7.5,15.8,0.473,1.7,...,0.872,1.0,5.3,6.3,2.6,0.6,1.5,1.4,2.5,18.8

In [50]:
per_36 = pd.read_csv(r'C:\Users\nnoar\OneDrive\Desktop\homework\Project2_Team2\stats_per36.csv')
per_36.columns
per_36 = per_36.rename(columns={'Player':'player', 'Pos':'pos', 'Age':'age', 'Tm':'team', 'G':'games_played', 'GS':'games_started', 'MP':'minutes_played', 'FG':'field_goal', 'FGA':'fga', '3P':'three_point',
       '3PA':'three_pa', '2P':'two_point', '2PA':'two_pa', 'FT':'ft', 'FTA':'fta', 'ORB':'orb', 'DRB':'drb',
       'TRB':'trb', 'AST':'ast', 'STL':'stl', 'BLK':'blk', 'TOV':'tov', 'PF':'pf', 'PTS':'pts'})
per_36 = per_36.set_index(['player'])
per_36.head()

,pos,age,team,games_played,games_started,minutes_played,field_goal,fga,ft,fta,...,two_pa,orb,drb,trb,ast,stl,blk,tov,pf,pts
player,,,,,,,,,,,,,,,,,,,,,
Precious Achiuwa,PF,21.0,MIA,61.0,4.0,737.0,6.1,11.1,2.7,5.4,...,11.1,3.6,6.6,10.2,1.4,1.0,1.4,2.1,4.4,14.8
Jaylen Adams,PG,24.0,MIL,7.0,0.0,18.0,2.0,16.0,0.0,0.0,...,12.0,0.0,6.0,6.0,4.0,0.0,0.0,0.0,2.0,4.0
Steven Adams,C,27.0,NOP,58.0,58.0,1605.0,4.2,6.9,1.3,3.0,...,6.8,4.8,6.8,11.5,2.5,1.2,0.9,1.7,2.5,9.8
Bam Adebayo,C,23.0,MIA,64.0,64.0,2143.0,7.7,13.4,4.8,5.9,...,13.3,2.4,7.2,9.6,5.8,1.3,1.1,2.8,2.4,20.1
LaMarcus Aldridge,C,35.0,TOT,26.0,23.0,674.0,7.5,15.8,2.2,2.5,...,11.5,1.0,5.3,6.3,2.6,0.6,1.5,1.4,2.5,18.8

In [51]:
per_36.to_sql('stats_per36',engine,if_exists='append')

In [53]:
per_100.to_sql('stats_per100',engine,if_exists='append')

Simple queries to confirm our data is in the prescribed tables

In [56]:
data = engine.execute('SELECT * FROM active_info LIMIT 10 ')
for record in data:
    print(record)

(203500, 'Steven Adams', Decimal('2013.0'), Decimal('12.0'), Decimal('1.0'), 'Oklahoma City Thunder')
(1628389, 'Bam Adebayo', Decimal('2017.0'), Decimal('14.0'), Decimal('1.0'), 'Miami Heat')
(200746, 'LaMarcus Aldridge', Decimal('2006.0'), Decimal('2.0'), Decimal('1.0'), 'Chicago Bulls')
(1629638, 'Nickeil Alexander-Walker', Decimal('2019.0'), Decimal('17.0'), Decimal('1.0'), 'Brooklyn Nets')
(1628960, 'Grayson Allen', Decimal('2018.0'), Decimal('21.0'), Decimal('1.0'), 'Utah Jazz')
(1628386, 'Jarrett Allen', Decimal('2017.0'), Decimal('22.0'), Decimal('1.0'), 'Brooklyn Nets')
(1628443, 'Kadeem Allen', Decimal('2017.0'), Decimal('53.0'), Decimal('2.0'), 'Boston Celtics')
(202329, 'Al-Farouq Aminu', Decimal('2010.0'), Decimal('8.0'), Decimal('1.0'), 'Los Angeles Clippers')
(1626147, 'Justin Anderson', Decimal('2015.0'), Decimal('21.0'), Decimal('1.0'), 'Dallas Mavericks')
(203937, 'Kyle Anderson', Decimal('2014.0'), Decimal('30.0'), Decimal('1.0'), 'San Antonio Spurs')

In [58]:
data = engine.execute('SELECT * FROM salaries_21 LIMIT 10 ')
for record in data:
    print(record)

('Atlanta Hawks', 'Bogdan Bogdanovic', Decimal('18000000'))
('Atlanta Hawks', 'Brandon Goodwin', Decimal('1701593'))
('Atlanta Hawks', 'Bruno Fernando', Decimal('1517981'))
('Atlanta Hawks', 'Cam Reddish', Decimal('4458000'))
('Atlanta Hawks', 'Clint Capela', Decimal('16000000'))
('Atlanta Hawks', 'Danilo Gallinari', Decimal('19500000'))
('Atlanta Hawks', "De'Andre Hunter", Decimal('7422000'))
('Atlanta Hawks', 'John Collins', Decimal('4137302'))
('Atlanta Hawks', 'Kevin Huerter', Decimal('2761920'))
('Atlanta Hawks', 'Khyri Thomas', Decimal('744684'))

In [59]:
data = engine.execute('SELECT * FROM stats_per100 LIMIT 10 ')
for record in data:
    print(record)

(1594, 'Gary Clark', 'PF', 26, 'PHI', 2, Decimal('0.0'), Decimal('13.0'), Decimal('0.0'), Decimal('2.8'), Decimal('0.0'), Decimal('0.0'), Decimal('0.0'), None, Decimal('0.0'), Decimal('2.8'), Decimal('0.0'), Decimal('0.0'), Decimal('0.0'), None, Decimal('0.0'), Decimal('5.5'), Decimal('5.5'), Decimal('2.8'), Decimal('2.8'), Decimal('0.0'), Decimal('0.0'), Decimal('2.8'), Decimal('0.0'))
(1595, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)
(1463, 'Precious Achiuwa', 'PF', 21, 'MIA', 61, Decimal('4.0'), Decimal('737.0'), Decimal('6.1'), Decimal('11.1'), Decimal('0.544'), Decimal('0.0'), Decimal('0.0'), Decimal('0.0'), Decimal('6.1'), Decimal('11.1'), Decimal('0.546'), Decimal('2.7'), Decimal('5.4'), Decimal('0.509'), Decimal('3.6'), Decimal('6.6'), Decimal('10.2'), Decimal('1.4'), Decimal('1.0'), Decimal('1.4'), Decimal('2.1'), Decimal('4.4'), Decimal('14.8'))
(1464, 'Jaylen Adams', 'PG', 24, 'MIL', 7, Decimal('0.0'), Decimal('18.0'), Decimal('2.0'), Decimal('16.0'), Decimal('0.125'), Decimal('0.0'), Decimal('4.0'), Decimal('0.0'), Decimal('2.0'), Decimal('12.0'), Decimal('0.167'), Decimal('0.0'), Decimal('0.0'), None, Decimal('0.0'), Decimal('6.0'), Decimal('6.0'), Decimal('4.0'), Decimal('0.0'), Decimal('0.0'), Decimal('0.0'), Decimal('2.0'), Decimal('4.0'))
(1465, 'Steven Adams', 'C', 27, 'NOP', 58, Decimal('58.0'), Decimal('1605.0'), Decimal('4.2'), Decimal('6.9'), Decimal('0.614'), Decimal('0.0'), Decimal('0.1'), Decimal('0.0'), Decimal('4.2'), Decimal('6.8'), Decimal('0.62'), Decimal('1.3'), Decimal('3.0'), Decimal('0.444'), Decimal('4.8'), Decimal('6.8'), Decimal('11.5'), Decimal('2.5'), Decimal('1.2'), Decimal('0.9'), Decimal('1.7'), Decimal('2.5'), Decimal('9.8'))
(1466, 'Bam Adebayo', 'C', 23, 'MIA', 64, Decimal('64.0'), Decimal('2143.0'), Decimal('7.7'), Decimal('13.4'), Decimal('0.57'), Decimal('0.0'), Decimal('0.1'), Decimal('0.25'), Decimal('7.6'), Decimal('13.3'), Decimal('0.573'), Decimal('4.8'), Decimal('5.9'), Decimal('0.799'), Decimal('2.4'), Decimal('7.2'), Decimal('9.6'), Decimal('5.8'), Decimal('1.3'), Decimal('1.1'), Decimal('2.8'), Decimal('2.4'), Decimal('20.1'))
(1467, 'LaMarcus Aldridge', 'C', 35, 'TOT', 26, Decimal('23.0'), Decimal('674.0'), Decimal('7.5'), Decimal('15.8'), Decimal('0.473'), Decimal('1.7'), Decimal('4.3'), Decimal('0.388'), Decimal('5.8'), Decimal('11.5'), Decimal('0.505'), Decimal('2.2'), Decimal('2.5'), Decimal('0.872'), Decimal('1.0'), Decimal('5.3'), Decimal('6.3'), Decimal('2.6'), Decimal('0.6'), Decimal('1.5'), Decimal('1.4'), Decimal('2.5'), Decimal('18.8'))
(1468, 'LaMarcus Aldridge', 'C', 35, 'SAS', 21, Decimal('18.0'), Decimal('544.0'), Decimal('7.6'), Decimal('16.4'), Decimal('0.464'), Decimal('1.8'), Decimal('5.0'), Decimal('0.36'), Decimal('5.8'), Decimal('11.4'), Decimal('0.509'), Decimal('2.1'), Decimal('2.4'), Decimal('0.838'), Decimal('1.1'), Decimal('5.1'), Decimal('6.2'), Decimal('2.4'), Decimal('0.5'), Decimal('1.2'), Decimal('1.3'), Decimal('2.4'), Decimal('19.1'))
(1469, 'LaMarcus Aldridge', 'C', 35, 'BRK', 5, Decimal('5.0'), Decimal('130.0'), Decimal('6.9'), Decimal('13.3'), Decimal('0.521'), Decimal('1.1'), Decimal('1.4'), Decimal('0.8'), Decimal('5.8'), Decimal('11.9'), Decimal('0.488'), Decimal('2.8'), Decimal('2.8'), Decimal('1.0'), Decimal('0.6'), Decimal('6.1'), Decimal('6.6'), Decimal('3.6'), Decimal('0.8'), Decimal('3.0'), Decimal('1.9'), Decimal('3.0'), Decimal('17.7'))
(1470, 'Ty-Shon Alexander', 'SG', 22, 'PHO', 15, Decimal('0.0'), Decimal('47.0'), Decimal('2.3'), Decimal('9.2'), Decimal('0.25'), Decimal('1.5'), Decimal('6.9'), Decimal('0.222'), Decimal('0.8'), Decimal('2.3'), Decimal('0.333'), Decimal('0.8'), Decimal('1.5'), Decimal('0.5'), Decimal('1.5'), Decimal('6.1'), Decimal('7.7'), Decimal('4.6'), Decimal('0.0'), Decimal('0.8'), Decimal('2.3'), Decimal('1.5'), Decimal('6.9'))

In [60]:
data = engine.execute('SELECT * FROM stats_per36 LIMIT 10 ')
for record in data:
    print(record)

(1, 'Precious Achiuwa', 'PF', 21, 'MIA', 61, Decimal('4.0'), Decimal('737.0'), Decimal('6.1'), Decimal('11.1'), Decimal('2.7'), Decimal('5.4'), Decimal('0.0'), Decimal('0.0'), Decimal('6.1'), Decimal('11.1'), Decimal('3.6'), Decimal('6.6'), Decimal('10.2'), Decimal('1.4'), Decimal('1.0'), Decimal('1.4'), Decimal('2.1'), Decimal('4.4'), Decimal('14.8'))
(2, 'Jaylen Adams', 'PG', 24, 'MIL', 7, Decimal('0.0'), Decimal('18.0'), Decimal('2.0'), Decimal('16.0'), Decimal('0.0'), Decimal('0.0'), Decimal('0.0'), Decimal('4.0'), Decimal('2.0'), Decimal('12.0'), Decimal('0.0'), Decimal('6.0'), Decimal('6.0'), Decimal('4.0'), Decimal('0.0'), Decimal('0.0'), Decimal('0.0'), Decimal('2.0'), Decimal('4.0'))
(3, 'Steven Adams', 'C', 27, 'NOP', 58, Decimal('58.0'), Decimal('1605.0'), Decimal('4.2'), Decimal('6.9'), Decimal('1.3'), Decimal('3.0'), Decimal('0.0'), Decimal('0.1'), Decimal('4.2'), Decimal('6.8'), Decimal('4.8'), Decimal('6.8'), Decimal('11.5'), Decimal('2.5'), Decimal('1.2'), Decimal('0.9'), Decimal('1.7'), Decimal('2.5'), Decimal('9.8'))
(4, 'Bam Adebayo', 'C', 23, 'MIA', 64, Decimal('64.0'), Decimal('2143.0'), Decimal('7.7'), Decimal('13.4'), Decimal('4.8'), Decimal('5.9'), Decimal('0.0'), Decimal('0.1'), Decimal('7.6'), Decimal('13.3'), Decimal('2.4'), Decimal('7.2'), Decimal('9.6'), Decimal('5.8'), Decimal('1.3'), Decimal('1.1'), Decimal('2.8'), Decimal('2.4'), Decimal('20.1'))
(5, 'LaMarcus Aldridge', 'C', 35, 'TOT', 26, Decimal('23.0'), Decimal('674.0'), Decimal('7.5'), Decimal('15.8'), Decimal('2.2'), Decimal('2.5'), Decimal('1.7'), Decimal('4.3'), Decimal('5.8'), Decimal('11.5'), Decimal('1.0'), Decimal('5.3'), Decimal('6.3'), Decimal('2.6'), Decimal('0.6'), Decimal('1.5'), Decimal('1.4'), Decimal('2.5'), Decimal('18.8'))
(6, 'LaMarcus Aldridge', 'C', 35, 'SAS', 21, Decimal('18.0'), Decimal('544.0'), Decimal('7.6'), Decimal('16.4'), Decimal('2.1'), Decimal('2.4'), Decimal('1.8'), Decimal('5.0'), Decimal('5.8'), Decimal('11.4'), Decimal('1.1'), Decimal('5.1'), Decimal('6.2'), Decimal('2.4'), Decimal('0.5'), Decimal('1.2'), Decimal('1.3'), Decimal('2.4'), Decimal('19.1'))
(7, 'LaMarcus Aldridge', 'C', 35, 'BRK', 5, Decimal('5.0'), Decimal('130.0'), Decimal('6.9'), Decimal('13.3'), Decimal('2.8'), Decimal('2.8'), Decimal('1.1'), Decimal('1.4'), Decimal('5.8'), Decimal('11.9'), Decimal('0.6'), Decimal('6.1'), Decimal('6.6'), Decimal('3.6'), Decimal('0.8'), Decimal('3.0'), Decimal('1.9'), Decimal('3.0'), Decimal('17.7'))
(8, 'Ty-Shon Alexander', 'SG', 22, 'PHO', 15, Decimal('0.0'), Decimal('47.0'), Decimal('2.3'), Decimal('9.2'), Decimal('0.8'), Decimal('1.5'), Decimal('1.5'), Decimal('6.9'), Decimal('0.8'), Decimal('2.3'), Decimal('1.5'), Decimal('6.1'), Decimal('7.7'), Decimal('4.6'), Decimal('0.0'), Decimal('0.8'), Decimal('2.3'), Decimal('1.5'), Decimal('6.9'))
(9, 'Nickeil Alexander-Walker', 'SG', 22, 'NOP', 46, Decimal('13.0'), Decimal('1007.0'), Decimal('6.9'), Decimal('16.4'), Decimal('1.7'), Decimal('2.4'), Decimal('2.7'), Decimal('7.8'), Decimal('4.1'), Decimal('8.5'), Decimal('0.5'), Decimal('4.7'), Decimal('5.1'), Decimal('3.6'), Decimal('1.7'), Decimal('0.8'), Decimal('2.5'), Decimal('3.1'), Decimal('18.2'))
(10, 'Grayson Allen', 'SG', 25, 'MEM', 50, Decimal('38.0'), Decimal('1259.0'), Decimal('4.9'), Decimal('11.8'), Decimal('2.3'), Decimal('2.6'), Decimal('3.1'), Decimal('7.8'), Decimal('1.9'), Decimal('4.0'), Decimal('0.5'), Decimal('4.0'), Decimal('4.6'), Decimal('3.1'), Decimal('1.3'), Decimal('0.2'), Decimal('1.4'), Decimal('2.0'), Decimal('15.2'))